* {
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

.maze-wrap {
  position: relative; }

.maze {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 0 auto; }
  .maze .row {
    display: flex; }
    .maze .row .field {
      position: relative;
      width: 20px;
      height: 20px;
      border: 0 solid black;
      background-color: darkgrey; }
      .maze .row .field.visible {
        background-color: white; }
      .maze .row .field.visited {
        background-color: olivedrab; }
      .maze .row .field.highlight {
        background-color: greenyellow; }
      .maze .row .field.border-top {
        border-top-width: 2px; }
      .maze .row .field.border-bottom {
        border-bottom-width: 2px; }
      .maze .row .field.border-left {
        border-left-width: 2px; }
      .maze .row .field.border-right {
        border-right-width: 2px; }
      .maze .row .field span.node {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        font-size: .625rem; }
