@mixin spanFieldNeighbour {
    position: absolute;
    font-size: .5rem;
    text-transform: uppercase;
}

* {
    box-sizing: border-box;
}

body {
//    text-align: center;
    font-family: sans-serif;
}

.maze-wrap {
    position: relative;
//    display: inline-block;
}

.maze {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 0 auto;
    .row {
        display: flex;
        .field {
            position: relative;
            width: 20px;
            height: 20px;
            border: 0 solid black;
            background-color: darkgrey;
            &.visible {
                background-color: white;
            }
            &.visited {
                background-color: olivedrab;
            }
            &.highlight {
                background-color: greenyellow;
            }
            &.border-top {
                border-top-width: 2px;
            }
            &.border-bottom {
                border-bottom-width: 2px;
            }
            &.border-left {
                border-left-width: 2px;
            }
            &.border-right {
                border-right-width: 2px;
            }
            span.node {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-weight: bold;
                font-size: .625rem;
            }
        }
    }
}